.message-navbar {
  border-bottom: 1.5px rgba(156, 163, 175, 0.3) solid;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.channel-name {
  font-size: 20px;
  font-weight: 700;
  background-image: url(https://media.giphy.com/media/pJlwmFs6l8uQw/giphy.gif?cid=ecf05e475wax9c59cdufackb3t5iz1172mwmkjqco9g4c78c&ep=v1_gifs_search&rid=giphy.gif&ct=g);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
}

.nav-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  margin-left: 0.6em;
  width: 22px;
  height: 22px;
  cursor: pointer;
}